<h2>Vehicle Information</h2>

<p>
  <b>Number:</b>
  <%=h @car.number %>
  <b>Model:</b>
  <%=h @car.model.manufacturer.name%> <%=h @car.model.name %>
  <b>Year:</b>
  <%=h @car.year %>
</p>

<h3>Reports</h3>
<div id="comments">
	<% @car.comments.each do |comment| %>
		<%= render :partial => "comments/comment", :locals => {:comment => comment} %>
	<% end %>
</div>

<h3>Leave a Report</h5>
	<form target="upload_frame" action="comments/post_and_upload" id="post_and_upload_form" method="post" enctype="multipart/form-data">
		Title: <input id="comment_title" name="comment[title]" size="30" type="text" /><br>
	    Comment:<br>
	    <textarea cols="35" id="comment_comment" name="comment[comment]" rows="5"></textarea><br>
		Picture: <input id="picture" name="picture[uploaded_data]" size="30" type="file" /><br>
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	    <input name="commit" type="submit" value="Add Report" />
	</form>
	<iframe id="upload_frame" name="upload_frame" style="display: none"></iframe>
